<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitterClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
    </applicationSettings>
    <userSettings>
        <TwitterClient.Properties.Settings>
            <setting name="SettingFilePath" serializeAs="String">
                <value>twitter-config.xml</value>
            </setting>
        </TwitterClient.Properties.Settings>
        <TwitterClient.Settings>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthTokenSecret" serializeAs="String">
                <value />
            </setting>
        </TwitterClient.Settings>
    </userSettings>
</configuration>